<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>

  <connectionStrings>
    <add name="AutomationDBEntities" connectionString="metadata=res://*/AutomationDBModel.csdl|res://*/AutomationDBModel.ssdl|res://*/AutomationDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=appserver03\int_automationdb;initial catalog=AutomationDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
