@model object

<div class="ActionExecutionSuccessMessage alert alert-success">
    <a href="#" class="close" aria-label="close">X</a>
    <strong>Success!</strong> Action executed successfully. View result below:
    <div>
        @Html.DisplayForModel()
    </div>
</div>